upstream {{ flaskapp_app_name }} {
  server 127.0.0.1:{{ flaskapp_port }};
}

server {
    listen 80;
    server_name {{ flaskapp_nginx_server_name }};

    location / {
        proxy_pass  http://{{ flaskapp_app_name }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /static {
        alias  {{ flaskapp_nginx_static_dir }};
    }
}
